[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

coconut = {extras = ["mypy", "cpyparsing", "watch", "jobs"]}
prospector = {extras = ["with-vulture", "with-pyroma"]}
invoke = "*"
watchgod = "*"


[dev-packages]



[requires]

python_version = "3.6"
